<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SQLite Query Tool</title>

    <!-- Import Vue.js library -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Import custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="page">
    <div id="app" class="app">
        <!-- Page title -->
        <h1 class="page__title title">SQLite Query Tool</h1>

        <!-- Section for helpful queries -->
        <h2 class="page__section-title section-title">Helpful queries:</h2>
        <table class="page__helpful-table helpful-table">
            <tbody>
                <tr v-for="tip in helpfullQuerys">
                    <!-- Query to get all tables in the database -->
                    <th class="helpful-table__query-description query-description">[[tip.title]]</th>
                    <th class="helpful-table__query-code query-code">[[tip.query]]</th>
                </tr>
            </tbody>
        </table>

        <div class="section-title" v-if="DB_table"> Available tabels</div>
        <div class="app__table-list table-list">

            <div class="table-list__tables" v-for="table in DB_table">
                [[ table ]]
            </div>
        </div>

        <div class="section-title" v-if="DB_views"> Available views</div>
        <div class="app__table-list table-list">

            <div class="table-list__tables" v-for="view in DB_views">
                [[ view ]]
            </div>
        </div>
        <div class="app__table-list table-list">
            <div class="table-list__selected-table selected-table">
                Selected Table:
                <span v-if="selectedTable != ''">
                    [[ selectedTable ]]
                </span>
            </div>
        </div>

        <!-- Section for user input and query execution -->
        <form class="app__query-form query-form">
            <!-- Query input fields -->
            <label for="query" class="query-form__query-label query-label">Enter a SELECT query:</label>
            <div class="query-form__query-input query-input">
                <span class="query-input__text">SELECT</span>
                <input type="text" id="query" v-model="DB_select" class="query-input__query-text query-text">
                <span class="query-input__text">FROM</span>

                <!-- Dropdown menu to select a table from the database -->
                <select v-model="selectedTable" @change="getTableData"
                    class="query-input__table-dropdown table-dropdown">
                    <option v-for="view in DB_views" :value="view" class="table-dropdown__option table-option">
                        [[view]]
                    </option>
                    <option v-for="table in DB_table" :value="table" class="table-dropdown__option table-option">
                        [[table]]
                    </option>
                </select>

                <!-- Button to execute the query -->
                <button type="button" @click="postQuery" class="query-input__run-button run-button">Run</button>
            </div>
        </form>

        <!-- Section for displaying query results -->
        <table class="app__query-result query-result" v-if="results">
            <thead>
                <!-- Table header with column names -->
                <tr>
                    <th v-for="column in columns" class="query-result__column-header column-header">[[ column ]]</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows with query results -->
                <tr v-for="row in rows" class="query-result__query-row query-row">
                    <td v-for="value in row" class="query-row__query-value query-value">[[ value ]]</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Import custom JavaScript file -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>